<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>MyServletClass</display-name>
    <servlet-name>MyServletClass</servlet-name>
    <servlet-class>MyServlet.MyServletClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServletClass</servlet-name>
    <url-pattern>/MyServletClass</url-pattern>
  </servlet-mapping>
  <display-name>JFSWebProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>servletLifecycle</display-name>
    <servlet-name>servletLifecycle</servlet-name>
    <servlet-class>servletLifecycle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletLifecycle</servlet-name>
    <url-pattern>/servletLifecycle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyValuesServlet</display-name>
    <servlet-name>MyValuesServlet</servlet-name>
    <servlet-class>MyServlet.MyValuesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyValuesServlet</servlet-name>
    <url-pattern>/MyValuesServlet</url-pattern>
  </servlet-mapping>
</web-app>